* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --primary-color: #0aaf99;
  --secondary-color: #1eae16;
  --background-dark: #242424;
  --background-light: #847c7c;
  --text-dark: #0a2c20;
  --text-light: #f9efef;
  --accent-color: #747bff;
}

body {
  color: var(--text-dark);
  background-color: var(--background-light);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color);
}


button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 1rem;
  cursor
:pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: var(--secondary-color);
}


form {
display: flex;
flex-direction: column;
align-items: center;
}

input[type="text"],
textarea {
width: 100%;
padding: 0.5rem;
margin-bottom: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 1rem;
}

textarea {
resize: vertical;
}


.postItem {
background-color: var(--background-dark);
color: var(--text-light);
padding: 1rem;
border-radius: 8px;
margin-bottom: 1rem;
}

.postItem h2 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

.postItem p {
font-size: 1rem;
}


.postDetails {
max-width: 800px;
margin: 0 auto;
}

.commentItem {
background-color: var(--background-light);
padding: 1rem;
border-radius: 8px;
margin-bottom: 1rem;
}

.commentItem p {
font-size: 1rem;
}

.commentItem:last-child {
margin-bottom: 0;
}

.comment {
  background-color: var(--background-dark);
  color: var(--text-light);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.comment ul {
  list-style: none;
}

.comment li {
  margin-bottom: 0.5rem;
}